.formContainer {
    position: fixed;
    background-color: rgba(113, 139, 224, 0.7);
    width: 500px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}